<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Auth</title>
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<body>
    <div class="auth-container">
        @RenderBody()
    </div>
</body>
</html>
